*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
}
.row{
    height: 100%;
}

.col{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#griglia{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square{
    background-color: rgb(255, 131, 30);
    border: 2px white solid;
    width: calc(1000px /10);
    height:calc(1000px /10) ;
}


.clicked{
    background-color: dodgerblue;
}